/*-----------------Lucky Game------------------*/

#rules {
    grid-column: span 2;
}



.rules-step1 {
    margin-top: 10px;
}

.tab-step1 {
    margin-top: 10px;
    width: 40%;
    margin: 0 30%;

    @media (max-width:500px) {


        font-size: 20px;
        width: 70%;

        margin: 0 15%;


    }
}

#step1,#step2,#step3,#end,#step4,#step5,#step6{
    grid-column: span 2;
    text-align: center;
    display: none;
}



#end {
    margin: 10%;
    
}

/*-----------------Memory Game------------------*/
#rules1-step2,#rules1-step3 ,#rules1-step4 ,#rules1-step5 ,#rules1-step6  {
    margin-top: 10px;
    
}
#rules2-step2 ,#rules2-step3,#rules2-step4,#rules2-step5{
    margin-top: 10px;
    display: none;
}
  #tab-step6 {
        display: flex;
        flex-direction: column;
    }

.tab{
    margin-top: 10px;
    width: 40%;
    margin: 0 30%;
    @media (max-width:500px) {


        font-size: 20px;
        width: 70%;

        margin: 0 15%;


    }
}
.big-tab{
    margin-top: 10px;
    width: 60%;
    margin: 0 20%;
    @media (max-width:500px) {


        font-size: 20px;
        width: 74%;

        margin: 0 13%;


    }
}
.big-tab-step5{
    margin-top: 10px;
    width: 60%;
    margin: 0 20%;
    @media (max-width:500px) {


        font-size: 20px;
        width: 74%;

        margin: 0 13%;


    }
}
.new-big-tab-step5{
    margin-top: 10px;
    width: 60%;
    margin: 0 20%;
    @media (max-width:500px) {


        font-size: 20px;
        width: 80%;

        margin: 0 11% 0 4%;


    }
}



